FontDescriptor(
    characters: {
        'A': (uv: (0, 0), size: (8, 11)),
        'B': (uv: (9, 0), size: (8, 11)),
        'C': (uv: (18, 0), size: (8, 11)),
        'D': (uv: (27, 0), size: (9, 11)),
        'E': (uv: (37, 0), size: (9, 11)),
        'F': (uv: (47, 0), size: (9, 11)),
        'G': (uv: (57, 0), size: (8, 11)),
        'H': (uv: (66, 0), size: (9, 11)),
        'I': (uv: (76, 0), size: (4, 11)),
        'J': (uv: (81, 0), size: (3, 13), baseline_shift: -2),
        'K': (uv: (85, 0), size: (9, 11)),
        'L': (uv: (95, 0), size: (7, 11)),
        'M': (uv: (103, 0), size: (12, 11)),
        'N': (uv: (116, 0), size: (10, 11)),
        'O': (uv: (0, 16), size: (8, 11)),
        'P': (uv: (9, 16), size: (8, 11)),
        'Q': (uv: (18, 16), size: (9, 13), baseline_shift: -2),
        'R': (uv: (28, 16), size: (9, 11)),
        'S': (uv: (38, 16), size: (8, 11)),
        'T': (uv: (47, 16), size: (9, 11)),
        'U': (uv: (57, 16), size: (10, 11)),
        'V': (uv: (68, 16), size: (9, 11)),
        'W': (uv: (78, 14), size: (9, 13)),
        'X': (uv: (90, 16), size: (9, 11)),
        'Y': (uv: (100, 16), size: (9, 11)),
        'Z': (uv: (110, 16), size: (0, 11)),

        'a': (uv: (0, 34), size: (7, 8)),
        'b': (uv: (8, 31), size: (8, 11)),
        'c': (uv: (17, 34), size: (7, 8)),
        'd': (uv: (25, 31), size: (8, 11)),
        'e': (uv: (34, 34), size: (7, 8)),
        'f': (uv: (42, 31), size: (7, 11)),
        'g': (uv: (50, 34), size: (8, 11), baseline_shift: -3),
        'h': (uv: (59, 31), size: (9, 11)),
        'i': (uv: (69, 31), size: (4, 11)),
        'j': (uv: (74, 30), size: (3, 14), baseline_shift: -2),
        'k': (uv: (77, 31), size: (9, 11)),
        'l': (uv: (88, 31), size: (4, 11)),
        'm': (uv: (93, 34), size: (12, 8)),
        'n': (uv: (106, 34), size: (9, 8)),
        'o': (uv: (116, 34), size: (7, 8)),
        'p': (uv: (0, 49), size: (8, 11), baseline_shift: -3),
        'q': (uv: (9, 49), size: (8, 11), baseline_shift: -3),
        'r': (uv: (18, 49), size: (7, 8)),
        's': (uv: (26, 49), size: (6, 8)),
        't': (uv: (33, 46), size: (5, 11)),
        'u': (uv: (39, 49), size: (9, 8)),
        'v': (uv: (49, 49), size: (8, 8)),
        'w': (uv: (58, 49), size: (11, 8)),
        'x': (uv: (70, 49), size: (10, 8)),
        'y': (uv: (81, 49), size: (7, 11), baseline_shift: -3),
        'z': (uv: (89, 49), size: (7, 8)),

        '0': (uv: (0, 61), size: (7, 11)),
        '1': (uv: (8, 61), size: (4, 11)),
        '2': (uv: (13, 61), size: (6, 11)),
        '3': (uv: (20, 61), size: (7, 11)),
        '4': (uv: (28, 61), size: (9, 11)),
        '5': (uv: (38, 61), size: (7, 11)),
        '6': (uv: (46, 61), size: (8, 11)),
        '7': (uv: (55, 61), size: (8, 11)),
        '8': (uv: (64, 61), size: (8, 11)),
        '9': (uv: (73, 61), size: (8, 11)),
    },
    unknown: (uv: (115, 58), size: (11, 14), baseline_shift: -2),
    height: 11,
    leading: 4,
    space_width: 8,
    tracking: 1.0
)