Level(
    id: "321e6dc9-4be6-4624-9f37-3b84f799f6a0",
    name: "Multiplexer",
    description: "Turn the output on when only one of the inputs are on",

    size: Some((10, 10)),
    permanent: [ (1, 9), (2, 9), (3, 9), (8, 9), (9, 9), (9, 0) ],
    tiles: {
        (1, 9): Emitter(
            rotation: Down,
            active: true
        ),
        (2, 9): Emitter(
            rotation: Down,
            active: true
        ),
        (3, 9): Emitter(
            rotation: Down,
            active: true
        ),
        (8, 9): Emitter(
            rotation: Down,
            active: true
        ),
        (9, 9): Emitter(
            rotation: Down,
            active: true
        ),
        (9, 0): Detector
    },

    tests: Tests(
        lasers: [
            // Inptus
            Static((1, 9)),
            Static((2, 9)),
            Static((3, 9)),

            // Selector
            Static((8, 9)),
            Static((9, 9))
        ],
        detectors: [ Static((9, 0)) ],

        delay: Some(16),
        cases: [
            TestCase(
                lasers: [
                    false, false, true,
                    false, false
                ],
                detectors: [ [ true ] ],
            ),
            TestCase(
                lasers: [
                    false, true, false,
                    false, false
                ],
                detectors: [ [ false ] ],
            ),
            TestCase(
                lasers: [
                    false, true, false,
                    true, false
                ],
                detectors: [ [ false ] ],
            ),
            TestCase(
                lasers: [
                    false, true, false,
                    false, true
                ],
                detectors: [ [ true ] ],
            ),
            TestCase(
                lasers: [
                    false, true, true,
                    true, false
                ],
                detectors: [ [ false ] ],
            ),
            TestCase(
                lasers: [
                    true, true, true,
                    true, false
                ],
                detectors: [ [ true ] ],
            ),
        ]
    )
)
