Level(
    id: "1c9ddabc-8e4b-41a1-bc0c-e0623226e5c3",
    name: "And Gate",
    description: "
        Output a signal only when both inputs are active.
        
        In these first few levels you will build up some basic binary logic gates. As simple as each of these gates are, when combined they can create very complicated behaviors, this game is running on the logic gates in your computer!
        
        If you don't already know about binary logic, it might not be a bad idea to do some research to be better prepared for the coming levels, or just figure it out as you go!",

    size: Some((6, 6)),
    permanent: [ (0, 5), (1, 5), (5, 0) ],
    labels: { },
    disabled: [ Detector, Delay ],
    tiles: {
        (0, 5): Emitter(
            rotation: Down,
            active: true
        ),
        (1, 5): Emitter(
            rotation: Down,
            active: true
        ),
        (5, 0): Detector
    },

    tests: Tests(
        lasers: [ Static((0, 5)), Static((1, 5)) ],
        detectors: [ Static((5, 0)) ],

        cases: [
            Cycle(
                lasers: [ true, true ],
                detectors: [ [ true ] ],
            ),
            Cycle(
                lasers: [ false, true ],
                detectors: [ [ false ] ],
            ),
            Cycle(
                lasers: [ true, false ],
                detectors: [ [ false ] ],
            ),
            Cycle(
                lasers: [ false, false ],
                detectors: [ [ false ] ],
            )
        ]
    )
)
