Level(
    id: "58fc60ca-3831-4f27-a29a-b4878a5dd68a",
    name: "Basic Routing",
    description: "Connect the laser to the detector with a mirror.\n\nClick the mirror icon in the bottom left to pick one up, press R to rotate it, and place it do in the bottom left corner.\n\nPress P to play the simulation, SPACE to step through it, and T to run this levels test cases. Use escape to exit the current simulation.",

    size: Some((6, 6)),
    permanent: [ (0, 5), (5, 0) ],
    lables: { },
    tiles: {
        (0, 5): Emitter(
            rotation: Down,
            active: true
        ),
        (5, 0): Detector
    },

    tests: Tests(
        lasers: [ Static((0, 5)) ],
        detectors: [ Static((5, 0)) ],

        cases: [
            TestCase(
                lasers: [ true ],
                detectors: [ [ true ] ],
            )
        ]
    )
)
