Level(
    id: "fc3b280e-6a80-41d2-84d1-c8fa55a3946f",
    name: "Counter",
    description: "...",

    size: Some((20, 6)),
    permanent: [ (4, 0), (8, 0), (12, 0), (16, 0), (19, 5) ],
    tiles: {
        (19, 5): Emitter(
            rotation: Down,
            active: true
        ),
        (4, 0):  Detector,
        (8, 0):  Detector,
        (12, 0): Detector,
        (16, 0): Detector
    },

    tests: Tests(
        lasers: [ Static((19, 5)) ],
        detectors: [ Static((4, 0)), Static((8, 0)), Static((12, 0)), Static((16, 0)) ],

        cases: [
            TestCase(
                lasers: [ false ],
                detectors: [ [ false, false, false, false ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ false, false, false, true ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ false, false, false, true ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ false, false, true, false ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ false, false, true, false ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ false, false, true, true ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ false, false, true, true ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ false, true, false, false ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ false, true, false, false ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ false, true, false, true ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ false, true, false, true ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ false, true, true, false ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ false, true, true, false ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ false, true, true, true ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ false, true, true, true ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ true, false, false, false ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ true, false, false, false ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ true, false, false, true ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ true, false, false, true ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ true, false, true, false ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ true, false, true, false ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ true, false, true, true ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ true, false, true, true ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ true, true, false, false ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ true, true, false, false ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ true, true, false, true ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ true, true, false, true ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ true, true, true, false ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ true, true, true, false ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ true, true, true, true ] ],
            ),
            TestCase(
                lasers: [ false ],
                detectors: [ [ true, true, true, true ] ],
            )
        ]
    )
)
