Level(
    id: "52108765-b8d2-47cf-a0c7-36b3b73cc644",
    name: "Double It",
    description: "",

    size: Some((8, 5)),
    permanent: [
        (0, 4), (1, 4), (2, 4), (3, 4), (4, 4), (5, 4), (6, 4), (7, 4),
        (0, 0), (1, 0), (2, 0), (3, 0), (4, 0), (5, 0), (6, 0), (7, 0)
    ],
    tiles: {
        (0, 4): Emitter(
            rotation: Down,
            active: true
        ),
        (1, 4): Emitter(
            rotation: Down,
            active: true
        ),
        (2, 4): Emitter(
            rotation: Down,
            active: true
        ),
        (3, 4): Emitter(
            rotation: Down,
            active: true
        ),
        (4, 4): Emitter(
            rotation: Down,
            active: true
        ),
        (5, 4): Emitter(
            rotation: Down,
            active: true
        ),
        (6, 4): Emitter(
            rotation: Down,
            active: true
        ),
        (7, 4): Emitter(
            rotation: Down,
            active: true
        ),

        (0, 0): Detector,
        (1, 0): Detector,
        (2, 0): Detector,
        (3, 0): Detector,
        (4, 0): Detector,
        (5, 0): Detector,
        (6, 0): Detector,
        (7, 0): Detector
    },

    tests: Tests(
        lasers: [
            Static((0, 4)),
            Static((1, 4)),
            Static((2, 4)),
            Static((3, 4)),
            Static((4, 4)),
            Static((5, 4)),
            Static((6, 4)),
            Static((7, 4))
        ],
        detectors: [
            Static((0, 0)),
            Static((1, 0)),
            Static((2, 0)),
            Static((3, 0)),
            Static((4, 0)),
            Static((5, 0)),
            Static((6, 0)),
            Static((7, 0))
        ],

        cases: [
            TestCase(
                lasers: [ false, false, false, false, false, false, false, false ],
                detectors: [ [ false, false, false, false, false, false, false, false ] ]
            ),
            TestCase(
                lasers: [ true, true, false, false, true, true, true, false ],
                detectors: [ [ true, false, false, true, true, true, false, false ] ]
            ),
            TestCase(
                lasers: [ false, true, false, false, true, true, false, true  ],
                detectors: [ [ true, false, false, true, true, false, true, false ] ]
            ),
            TestCase(
                lasers: [ true, true, false, false, false, false, true, false ],
                detectors: [ [ true, false, false, false, false, true, false, false ] ]
            ),
            TestCase(
                lasers: [ true, false, false, true, false, false, false, false ],
                detectors: [ [ false, false, true, false, false, false, false, false ] ]
            ),
            TestCase(
                lasers: [ true, false, true, true, false, false, true, true  ],
                detectors: [ [ false, true, true, false, false, true, true, false ] ]
            ),
            TestCase(
                lasers: [ false, true, false, false, true, true, true, true  ],
                detectors: [ [ true, false, false, true, true, true, true, false ] ]
            ),
            TestCase(
                lasers: [ true, false, true, true, true, true, true, true  ],
                detectors: [ [ false, true, true, true, true, true, true, false ] ]
            ),
            TestCase(
                lasers: [ true, true, true, false, true, true, true, true  ],
                detectors: [ [ true, true, false, true, true, true, true, false ] ]
            ),
            TestCase(
                lasers: [ false, true, true, false, true, false, true, false ],
                detectors: [ [ true, true, false, true, false, true, false, false ] ]
            ),
            TestCase(
                lasers: [ true, false, false, false, false, false, true, true  ],
                detectors: [ [ false, false, false, false, false, true, true, false ] ]
            ),
            TestCase(
                lasers: [ false, true, false, true, false, false, true, false ],
                detectors: [ [ true, false, true, false, false, true, false, false ] ]
            ),
            TestCase(
                lasers: [ false, true, false, true, true, true, true, true  ],
                detectors: [ [ true, false, true, true, true, true, true, false ] ]
            ),
            TestCase(
                lasers: [ true, false, false, false, true, true, false, true  ],
                detectors: [ [ false, false, false, true, true, false, true, false ] ]
            ),
            TestCase(
                lasers: [ true, true, false, true, false, false, true, true  ],
                detectors: [ [ true, false, true, false, false, true, true, false ] ]
            ),
            TestCase(
                lasers: [ false, false, true, false, false, false, false, true  ],
                detectors: [ [ false, true, false, false, false, false, true, false ] ]
            ),
            TestCase(
                lasers: [ false, false, false, true, false, true, true, true  ],
                detectors: [ [ false, false, true, false, true, true, true, false ] ]
            ),
            TestCase(
                lasers: [ true, true, true, true, true, true, true, true  ],
                detectors: [ [ true, true, true, true, true, true, true, false ] ]
            ),
        ]
    )
)

// Cases generated with the following code and find+replace:
// 
// use rand::{RngCore, thread_rng};
//
// const MASK: u32 = 0b11111111;
//
// let mut rng = thread_rng();
// for i in 0..16 {
//     let input = rng.next_u32() & MASK;
//     let out = (input << 1) & MASK;
//     println!("{input:08b} : {out:08b}");
// }