Level(
    id: "bd637589-b931-40d5-984c-60f158d1c8a9",
    name: "Edge Detectors",
    description: "On the rising-edge of the input signal, send a pulse to output R and send an output to output F on the falling-edge.",

    size: Some((6, 6)),
    permanent: [ (0, 5), (4, 0), (5, 0) ],
    labels: {
        (4, 0): "R",
        (5, 0): "F"
    },
    tiles: {
        (0, 5): Emitter(
            rotation: Down,
            active: true
        ),
        (4, 0): Detector,
        (5, 0): Detector
    },

    tests: Tests(
        lasers: [ Static((0, 5)) ],
        detectors: [ Static((4, 0)), Static((5, 0)) ], // RF

        checker: Basic,
        cases: [
            Event(
                lasers: [ true ],

                default: Fail,
                pass:    [ [ true,  false ] ],
                neutral: [ [ false, false ] ],
                fail:    [ ]
            ),
            Event(
                lasers: [ true ],

                default: Fail,
                pass:    [ [ false, false ] ],
                neutral: [ [ true,  false ] ],
                fail:    [ ]
            ),
            Event(
                lasers: [ false ],

                default: Fail,
                pass:    [ [ false, true  ] ],
                neutral: [ [ false, false ] ],
                fail:    [ ]
            ),
            Event(
                lasers: [ false ],

                default: Fail,
                pass:    [ [ false, false ] ],
                neutral: [ [ false, true  ] ],
                fail:    [ ]
            )
        ]
    )
)
