Level(
    name: "Level 1",
    description: "Connect the laser to the detector",

    tests: Tests(
        lasers: [ ElementLocation::Static((0, 5)) ],
        detectors: [ ElementLocation::Static((5, 0)) ],

        cases: [
            TestCase {
                lasers: [ true ],
                detectors: [ true ],
            }
        ]
    )
)
