Level(
    id: "cafeb123-66dc-4b04-b560-5cf80868cae4",
    name: "Not Gate",
    description: "Enable the output only when the input is not active, and disable it only when the input is active. Effectively inverting the input.\n\nFor this level you will need to use the galvo. This is a component that flips the mirror it is facing when powered.",

    size: Some((6, 6)),
    permanent: [ (0, 5), (5, 0) ],
    tiles: {
        (0, 5): Emitter(
            rotation: Down,
            active: true
        ),
        (5, 0): Detector
    },

    tests: Tests(
        lasers: [ Static((0, 5)) ],
        detectors: [ Static((5, 0)) ],

        cases: [
            TestCase(
                lasers: [ false ],
                detectors: [ [ true ] ],
            ),
            TestCase(
                lasers: [ true ],
                detectors: [ [ false ] ],
            )
        ]
    )
)
