Level(
    id: "d46980e0-b2d0-4102-ab95-8bdc16d00ca9",
    name: "Or Gate",
    description: "Enable the output when either of the inputs are active. There are two main ways to solve this level.\n\nThe wall is there to keep you from just routing each input into a diffrent side of the output.",

    size: Some((6, 6)),
    permanent: [ (0, 5), (1, 5), (5, 0), (5, 1) ],
    lables: { },
    tiles: {
        (0, 5): Emitter(
            rotation: Down,
            active: true
        ),
        (1, 5): Emitter(
            rotation: Down,
            active: true
        ),
        (5, 1): Detector,
        (5, 0): Wall
    },

    tests: Tests(
        lasers: [ Static((0, 5)), Static((1, 5)) ],
        detectors: [ Static((5, 0)) ],

        cases: [
            TestCase(
                lasers: [ true, true ],
                detectors: [ [ true ] ],
            ),
            TestCase(
                lasers: [ true, false ],
                detectors: [ [ true ] ],
            ),
            TestCase(
                lasers: [ false, true ],
                detectors: [ [ true ] ],
            ),
            TestCase(
                lasers: [ false, false ],
                detectors: [ [ false ] ],
            )
        ]
    )
)
