Level(
    id: "f4444a1c-d2a8-4a7a-b311-ec39322c1776",
    name: "RS Latch",
    description: "Create a latch that turns on when input S is active and resets when input R is.",

    size: Some((6, 6)),
    permanent: [ (0, 5), (1, 5), (5, 0) ],
    labels: {
        (0, 5): "R",
        (1, 5): "S",
    },
    tiles: {
        (0, 5): Emitter(
            rotation: Down,
            active: true
        ),
        (1, 5): Emitter(
            rotation: Down,
            active: true
        ),
        (5, 0): Detector
    },

    tests: Tests(
        lasers: [ Static((0, 5)), Static((1, 5)) ], // RS
        detectors: [ Static((5, 0)) ],

        cases: [
            Cycle(
                lasers: [ false, false ],
                detectors: [ [ false ] ],
            ),
            Cycle(
                lasers: [ false, true ],
                detectors: [ [ true ] ],
            ),
            Cycle(
                lasers: [ false, false ],
                detectors: [ [ true ] ],
            ),
            Cycle(
                lasers: [ false, true ],
                detectors: [ [ true ] ],
            ),
            Cycle(
                lasers: [ true, false ],
                detectors: [ [ false ] ],
            ),
        ]
    )
)
