Level(
    id: "6ac2dff9-0ac7-4df7-9c1a-c7cb1c3dfbe6",
    name: "T Flip Flop",
    description: "When the input is enabled (rising edge) the output value should be toggled. The output should be disabled by default.",

    size: Some((6, 6)),
    permanent: [ (0, 5), (5, 0) ],
    labels: { },
    tiles: {
        (0, 5): Emitter(
            rotation: Down,
            active: true
        ),
        (5, 0): Detector
    },

    tests: Tests(
        lasers: [ Static((0, 5)) ],
        detectors: [ Static((5, 0)) ],

        cases: [
            Cycle(
                lasers: [ false ],
                detectors: [ [ false ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ true ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ true ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ false ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ false ] ],
            ),
        ]
    )
)
