Level(
    id: "58fc60ca-3831-4f27-a29a-b4878a5dd68a",
    name: "Basic Routing",
    description: "
        Connect the laser (input) to the detector (output) with a mirror.
        
        Click the mirror icon in the bottom left of the screen to pick one up, press R to rotate it, and place it down in the bottom left corner of the board.
        
        Press P to play the simulation, ESCAPE to go back to edit mode, then press T to run this levels test cases.",
    parents: [ ], // this is the root level
        
    size: (6, 6),
    permanent: [ (0, 5), (5, 0) ],
    labels: { },
    disabled: [ Detector, Delay, Emitter, Splitter, Galvo, Wall ],
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (5, 0): Detector( id: 1 )
    },

    tests: Tests(
        lasers: [ 0 ],
        detectors: [ 1 ],

        cases: [
            Cycle(
                lasers: [ true ],
                detectors: [ [ true ] ],
            )
        ]
    )
)
