Level(
    id: "58fc60ca-3831-4f27-a29a-b4878a5dd68a",
    name: "Basic Routing",
    description: "
        Connect the laser (input) to the detector (output) with a mirror.
        
        Click the mirror icon in the bottom left of the screen to pick one up, press R to rotate it, and place it down in the bottom left corner of the board.
        
        Press F to run the simulation, you will often use this mode test circuits yourself before running the test cases. Press F again to go back to edit mode, then press T to run the test cases and actually solve the level.
        
        Once you finish the level, press ESC to open the pause menu then click exit.",
    parents: [ ], // this is the root level
        
    size: (6, 6),
    permanent: [ (0, 5), (5, 0) ],
    disabled: [ Detector, Delay, Emitter, Splitter, Galvo, Wall ],
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (5, 0): Detector( id: 1 )
    },

    tests: Tests(
        lasers: [ 0 ],
        detectors: [ 1 ],

        cases: [
            Cycle( lasers: [ true ], detectors: [ [ true ] ] )
        ]
    )
)
