Level(
    id: "aa28086a-564e-46d3-9233-894c157d92fe",
    name: "Basic Oscillator",
    description: "
        In addition to logic gates (AND, OR, NOT) there is another category of circuits you can make: oscillators! These are just circuits that periodically emit a pulse.
        
        For this level, make the output alternate between the on and off states every four ticks, for a total cycle period of eight ticks.
        
        Instead of using P to start the simulation, use SPACE to step through each simulation tick one at a time.",
    parents: [ "86456173-e27c-4918-ae11-ef5a36147037" ], // ← synchronization

    size: (6, 6),
    permanent: [ (5, 0) ],
    labels: { },
    tiles: {
        (5, 0): Detector( id: 0 )
    },

    tests: Tests(
        lasers: [ ],
        detectors: [ 0 ],

        cases: [
            Cycle(
                lasers: [ ],
                detectors: [
                    [ false ], [ false ], [ false ], [ false ],
                    [ true  ], [ true  ], [ true  ], [ true  ]
                ],
            )
        ]
    )
)
