Level(
    id: "9dcb218d-c18c-4a7a-8979-9572322f5460",
    name: "Bidirectional Counter",
    description: "
        Build a 3-bit counter that counts up by one when INC is pulsed and counts down when DEC is pulsed.
        
        You will never need to to increment past 8 or decrement past 0 and INC and DEC will never both be active.",
    children: [ ],

    labels: {
        Dynamic(0): "INC",
        Dynamic(1): "DEC",

        Dynamic(2): "4",
        Dynamic(3): "2",
        Dynamic(4): "1",
    },
    tiles: {
        (1, 5): Emitter( rotation: Down, active: false, id: 0 ),
        (2, 5): Emitter( rotation: Down, active: false, id: 1 ),

        (1, 0): Detector( id: 2 ),
        (2, 0): Detector( id: 3 ),
        (3, 0): Detector( id: 4 ),
    },

    tests: Tests(
        lasers: [ 0, 1 ],
        detectors: [ 2, 3, 4 ],
        variable_start: false,
        display: DisplayConfig(
            descriptions: {
                0: "Increment 0 ⇒ 1",
                1: "Increment 1 ⇒ 2",
                2: "Decrement 2 ⇒ 1",
                3: "Increment 1 ⇒ 2",
                4: "Increment 2 ⇒ 3",
                5: "Increment 3 ⇒ 4",
                6: "Increment 4 ⇒ 5",
                7: "Decrement 5 ⇒ 4",
                8: "Decrement 4 ⇒ 3",
            }
        ),

        hidden: [ 1, 3, 5, 7, 9, 11, 13, 15, 17 ],
        cases: [
            Cycle( lasers: [ true,  false ], detectors: [ [ false, false, true  ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false ], detectors: [ ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ false, true,  false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false ], detectors: [ ] ),
            Cycle( lasers: [ false, true  ], detectors: [ [ false, false, true  ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false ], detectors: [ ] ),
            Cycle( lasers: [ true, false  ], detectors: [ [ false, true,  false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false ], detectors: [ ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ false, true,  true  ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false ], detectors: [ ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ true,  false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false ], detectors: [ ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ true,  false, true  ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false ], detectors: [ ] ),
            Cycle( lasers: [ false, true  ], detectors: [ [ true,  false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false ], detectors: [ ] ),
            Cycle( lasers: [ false, true  ], detectors: [ [ false, true,  true  ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false ], detectors: [ ] ),
        ]
    )
)
