Level(
    id: "2f854277-df80-4ee8-b5ab-69f7d6587ff4",
    name: "Bit Reverse",
    description: "
        There are two main ways to represent a binary number, with the most significant bit (MSb) on the left or right of the number. In all remaining levels, you can assume number's least significant bit (LSb) will be on the right.
        
        For this level, take the input number with a MSb on the left and convert it to a number with the MSb on the right.",
    parents: [ "52108765-b8d2-47cf-a0c7-36b3b73cc644" ],

    size: (15, 9),
    permanent: [
        (0, 8), (1, 8), (2, 8), (3, 8), (4, 8), (5, 8), (6, 8), (7, 8),
        (7, 0), (8, 0), (9, 0), (10, 0), (11, 0), (12, 0), (13, 0), (14, 0)
    ],
    labels: {
        Dynamic(1): "MSb",
        Dynamic(7): "LSb",

        Dynamic(8): "LSb",
        Dynamic(15): "MSb"
    },
    disabled: [ ],
    tiles: {
        (0, 8): Emitter( rotation: Down, active: false, id: 0 ),
        (1, 8): Emitter( rotation: Down, active: false, id: 1 ),
        (2, 8): Emitter( rotation: Down, active: false, id: 2 ),
        (3, 8): Emitter( rotation: Down, active: false, id: 3 ),
        (4, 8): Emitter( rotation: Down, active: false, id: 4 ),
        (5, 8): Emitter( rotation: Down, active: false, id: 5 ),
        (6, 8): Emitter( rotation: Down, active: false, id: 6 ),
        (7, 8): Emitter( rotation: Down, active: false, id: 7 ),

        (7, 0): Detector( id: 8 ),
        (8, 0): Detector( id: 9 ),
        (9, 0): Detector( id: 10 ),
        (10, 0): Detector( id: 11 ),
        (11, 0): Detector( id: 12 ),
        (12, 0): Detector( id: 13 ),
        (13, 0): Detector( id: 14 ),
        (14, 0): Detector( id: 15 ),
    },

    tests: Tests(
        lasers: [ 0, 1, 2, 3, 4, 5, 6, 7 ],
        detectors: [ 8, 9, 10, 11, 12, 13, 14, 15 ],

        cases: [
            Cycle(
                lasers: [ false, false, false, true, true, true, false, true ],
                detectors: [ [ true, false, true, true, true, false, false, false ] ]
            ),
            Cycle(
                lasers: [ false, false, true, true, false, true, true, true ],
                detectors: [ [ true, true, true, false, true, true, false, false ] ]
            ),
            Cycle(
                lasers: [ true, false, true, true, false, true, false, false ],
                detectors: [ [ false, false, true, false, true, true, false, true ] ]
            ),
            Cycle(
                lasers: [ true, true, false, true, false, true, true, true ],
                detectors: [ [ true, true, true, false, true, false, true, true ] ]
            ),
            Cycle(
                lasers: [ false, true, true, false, true, true, false, true ],
                detectors: [ [ true, false, true, true, false, true, true, false ] ]
            ),
            Cycle(
                lasers: [ true, false, false, true, false, false, false, true ],
                detectors: [ [ true, false, false, false, true, false, false, true ] ]
            ),
            Cycle(
                lasers: [ false, true, false, false, false, true, true, false ],
                detectors: [ [ false, true, true, false, false, false, true, false ] ]
            ),
            Cycle(
                lasers: [ false, true, true, true, false, true, false, true ],
                detectors: [ [ true, false, true, false, true, true, true, false ] ]
            ),
            Cycle(
                lasers: [ false, true, true, false, true, true, false, true ],
                detectors: [ [ true, false, true, true, false, true, true, false ] ]
            ),
            Cycle(
                lasers: [ true, false, true, false, false, false, false, true ],
                detectors: [ [ true, false, false, false, false, true, false, true ] ]
            ),
            Cycle(
                lasers: [ true, true, false, false, true, true, true, true ],
                detectors: [ [ true, true, true, true, false, false, true, true ] ]
            ),
            Cycle(
                lasers: [ true, true, true, true, false, true, true, false ],
                detectors: [ [ false, true, true, false, true, true, true, true ] ]
            ),
            Cycle(
                lasers: [ false, true, false, true, true, false, true, false ],
                detectors: [ [ false, true, false, true, true, false, true, false ] ]
            ),
            Cycle(
                lasers: [ false, true, true, true, false, true, true, false ],
                detectors: [ [ false, true, true, false, true, true, true, false ] ]
            ),
            Cycle(
                lasers: [ true, false, false, true, false, true, true, false ],
                detectors: [ [ false, true, true, false, true, false, false, true ] ]
            ),
            Cycle(
                lasers: [ false, true, false, false, true, false, true, false ],
                detectors: [ [ false, true, false, true, false, false, true, false ] ]
            ),
        ]
    )
)
