Level(
    id: "b59c1a75-8d7a-4c91-bdd4-6831e3b1f41a",
    name: "Count Ones",
    description: "Output the number of active inputs in binary (big-endian) where the leftmost output represents four, the middle represents two and the rightmost represents one.",

    size: (20, 20),
    permanent: [
        (0, 19), (1, 19), (2, 19), (3, 19),
        (17, 0), (18, 0), (19, 0)
    ],
    labels: { },
    tiles: {
        (0, 19): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 19): Emitter( rotation: Down, active: true, id: 1 ),
        (2, 19): Emitter( rotation: Down, active: true, id: 2 ),
        (3, 19): Emitter( rotation: Down, active: true, id: 3 ),

        (17, 0): Detector(id: 4 ),
        (18, 0): Detector(id: 5 ),
        (19, 0): Detector(id: 6 )
    },

    tests: Tests(
        lasers: [ 0, 1, 2, 3 ],
        detectors: [ 4, 5, 6 ],

        cases: [
            Cycle(
                lasers: [ false, false, false, false ],
                detectors: [ [ false, false, false ] ]
            ),
            Cycle(
                lasers: [ false, false, false, true  ],
                detectors: [ [ false, false, true  ] ]
            ),
            Cycle(
                lasers: [ false, false, true,  false ],
                detectors: [ [ false, false, true  ] ]
            ),
            Cycle(
                lasers: [ false, false, true,  true  ],
                detectors: [ [ false, true,  false ] ]
            ),
            Cycle(
                lasers: [ false, true,  false, false ],
                detectors: [ [ false, false, true  ] ]
            ),
            Cycle(
                lasers: [ false, true,  false, true  ],
                detectors: [ [ false, true,  false ] ]
            ),
            Cycle(
                lasers: [ false, true,  true,  false ],
                detectors: [ [ false, true,  false ] ]
            ),
            Cycle(
                lasers: [ false, true,  true,  true  ],
                detectors: [ [ false, true,  true  ] ]
            ),
            Cycle(
                lasers: [ true,  false, false, false ],
                detectors: [ [ false, false, true  ] ]
            ),
            Cycle(
                lasers: [ true,  false, false, true  ],
                detectors: [ [ false, true,  false ] ]
            ),
            Cycle(
                lasers: [ true,  false, true,  false ],
                detectors: [ [ false, true,  false ] ]
            ),
            Cycle(
                lasers: [ true,  false, true,  true  ],
                detectors: [ [ false, true,  true  ] ]
            ),
            Cycle(
                lasers: [ true,  true,  false, false ],
                detectors: [ [ false, true,  false ] ]
            ),
            Cycle(
                lasers: [ true,  true,  false, true  ],
                detectors: [ [ false, true,  true  ] ]
            ),
            Cycle(
                lasers: [ true,  true,  true,  false ],
                detectors: [ [ false, true,  true  ] ]
            ),
            Cycle(
                lasers: [ true,  true,  true,  true  ],
                detectors: [ [ true,  false, false ] ]
            ),
        ]
    )
)

// See https://imgur.com/screenshot-mtqo5bp for simple solution

// Test cases generated with the following code and find+replace.
// for i in 0b0000..=0b1111_u32 {
//     println!("{i:04b}: {:03b}", i.count_ones());
// }
