Level(
    id: "b59c1a75-8d7a-4c91-bdd4-6831e3b1f41a",
    name: "Count Ones",
    description: "Output the number of active inputs in binary.",
    children: [ "f79d2928-aa91-44d8-ac3a-176e991b2c7a" ], // ← conways_game_of_life

    labels: {
        Dynamic(4): "4",
        Dynamic(5): "2",
        Dynamic(6): "1",
    },
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: true, id: 1 ),
        (2, 5): Emitter( rotation: Down, active: true, id: 2 ),
        (3, 5): Emitter( rotation: Down, active: true, id: 3 ),

        (1, 0): Detector( id: 4 ),
        (2, 0): Detector( id: 5 ),
        (3, 0): Detector( id: 6 )
    },

    tests: Tests(
        lasers: [ 0, 1, 2, 3 ],
        detectors: [ 4, 5, 6 ],

        cases: [
            Cycle( lasers: [ false, false, false, false ], detectors: [ [ false, false, false ] ] ),
            Cycle( lasers: [ false, false, false, true  ], detectors: [ [ false, false, true  ] ] ),
            Cycle( lasers: [ false, false, true,  false ], detectors: [ [ false, false, true  ] ] ),
            Cycle( lasers: [ false, false, true,  true  ], detectors: [ [ false, true,  false ] ] ),
            Cycle( lasers: [ false, true,  false, false ], detectors: [ [ false, false, true  ] ] ),
            Cycle( lasers: [ false, true,  false, true  ], detectors: [ [ false, true,  false ] ] ),
            Cycle( lasers: [ false, true,  true,  false ], detectors: [ [ false, true,  false ] ] ),
            Cycle( lasers: [ false, true,  true,  true  ], detectors: [ [ false, true,  true  ] ] ),
            Cycle( lasers: [ true,  false, false, false ], detectors: [ [ false, false, true  ] ] ),
            Cycle( lasers: [ true,  false, false, true  ], detectors: [ [ false, true,  false ] ] ),
            Cycle( lasers: [ true,  false, true,  false ], detectors: [ [ false, true,  false ] ] ),
            Cycle( lasers: [ true,  false, true,  true  ], detectors: [ [ false, true,  true  ] ] ),
            Cycle( lasers: [ true,  true,  false, false ], detectors: [ [ false, true,  false ] ] ),
            Cycle( lasers: [ true,  true,  false, true  ], detectors: [ [ false, true,  true  ] ] ),
            Cycle( lasers: [ true,  true,  true,  false ], detectors: [ [ false, true,  true  ] ] ),
            Cycle( lasers: [ true,  true,  true,  true  ], detectors: [ [ true,  false, false ] ] ),
        ]
    )
)

// See https://imgur.com/screenshot-mtqo5bp for simple solution

// Test cases generated with the following code and find+replace.
// for i in 0b0000..=0b1111_u32 {
//     println!("{i:04b}: {:03b}", i.count_ones());
// }
