Level(
    id: "fc3b280e-6a80-41d2-84d1-c8fa55a3946f",
    name: "Counter",
    description: "Each time a pulse is recived from the input, the output should count up by one in binary (big-endian).",
    parents: [ "6ac2dff9-0ac7-4df7-9c1a-c7cb1c3dfbe6" ],

    size: (20, 6),
    permanent: [ (4, 0), (8, 0), (12, 0), (16, 0), (19, 5) ],
    labels: { },
    tiles: {
        (19, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (4, 0):  Detector( id: 1 ),
        (8, 0):  Detector( id: 2 ),
        (12, 0): Detector( id: 3 ),
        (16, 0): Detector( id: 4 )
    },

    tests: Tests(
        lasers: [ 0 ],
        detectors: [ 1, 2, 3, 4 ],

        cases: [
            Cycle(
                lasers: [ false ],
                detectors: [ [ false, false, false, false ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ false, false, false, true ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ false, false, false, true ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ false, false, true, false ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ false, false, true, false ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ false, false, true, true ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ false, false, true, true ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ false, true, false, false ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ false, true, false, false ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ false, true, false, true ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ false, true, false, true ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ false, true, true, false ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ false, true, true, false ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ false, true, true, true ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ false, true, true, true ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ true, false, false, false ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ true, false, false, false ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ true, false, false, true ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ true, false, false, true ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ true, false, true, false ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ true, false, true, false ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ true, false, true, true ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ true, false, true, true ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ true, true, false, false ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ true, true, false, false ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ true, true, false, true ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ true, true, false, true ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ true, true, true, false ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ true, true, true, false ] ],
            ),
            Cycle(
                lasers: [ true ],
                detectors: [ [ true, true, true, true ] ],
            ),
            Cycle(
                lasers: [ false ],
                detectors: [ [ true, true, true, true ] ],
            )
        ]
    )
)
