Level(
    id: "46c56d9a-fda5-4876-aaa7-de80a7fcc710",
    name: "Data Latch",
    description: "When enable (E) is active, the signal on D should be forwarded to the output. When E is disabled continue outputting the current value of D.",
    children: [ "fe48e117-1114-417a-b72b-d80c239797c9" ], // ← shift_register

    size: (6, 6),
    permanent: [ (0, 5), (1, 5), (5, 0) ],
    labels: {
        Dynamic(0): "Data",
        Dynamic(1): "Latch",
    },
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: true, id: 1 ),
        (5, 0): Detector( id: 2 )
    },

    tests: Tests(
        lasers: [ 0, 1 ], // DE
        detectors: [ 2 ],

        cases: [
            Cycle( lasers: [ false, false ], detectors: [ [ false ] ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ false ] ] ),
            Cycle( lasers: [ true,  true  ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ false, false ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ false, true  ], detectors: [ [ false ] ] ),
        ]
    )
)
