Level(
    id: "46c56d9a-fda5-4876-aaa7-de80a7fcc710",
    name: "Data Latch",
    description: "A data latch is a memory cell that can store one bit of data. When the enable line (ENBL) is high, the output mirrors the data input (DATA). When ENBL goes low, the output is 'latched', holding the last value of DATA until ENBL goes high again.",
    children: [ "fe48e117-1114-417a-b72b-d80c239797c9" ], // ← shift_register

    size: (6, 6),
    permanent: [ (0, 5), (1, 5), (5, 0) ],
    labels: {
        Dynamic(0): "DATA",
        Dynamic(1): "ENBL",
    },
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: true, id: 1 ),
        (5, 0): Detector( id: 2 )
    },

    tests: Tests(
        lasers: [ 0, 1 ],
        detectors: [ 2 ],
        variable_start: false,

        cases: [
            Cycle( lasers: [ false, false ], detectors: [ [ false ] ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ false ] ] ),
            Cycle( lasers: [ true,  true  ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ false, false ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ false, true  ], detectors: [ [ false ] ] ),
        ]
    )
)
