Level(
    id: "d1d080f7-06c4-421d-9125-dceadc5b6f32",
    name: "Even Oscillators",
    description: "
        Build three oscillators with periods of 16, 12, and 8. The period is the number of ticks before the oscillator cycles, so it should be on half the period, then off for half, then back on, continuing forever.
        
        The initial pulses from each oscillator must all hit their corresponding detectors in the same tick.",
    children: [ "72e79fe9-ae4e-4366-a98a-5aaaf7bb584f" ], // ← pulse_width_modulation

    size: (6, 6),
    permanent: [ (3, 0), (4, 0), (5, 0) ],
    labels: {
        Dynamic(0): "16",
        Dynamic(1): "12",
        Dynamic(2): "8"
    },
    tiles: {
        (3, 0): Detector( id: 0 ),
        (4, 0): Detector( id: 1 ),
        (5, 0): Detector( id: 2 )
    },

    tests: Tests(
        lasers: [ ],
        detectors: [ 0, 1, 2 ],

        cases: [
            Cycle(
                lasers: [ ],
                detectors: [
                    [true,  true,  true ],
                    [true,  true,  true ],
                    [true,  true,  true ],
                    [true,  true,  true ],
                    [true,  true,  false],
                    [true,  true,  false],
                    [true,  false, false],
                    [true,  false, false],
                    [false, false, true ],
                    [false, false, true ],
                    [false, false, true ],
                    [false, false, true ],
                    [false, true,  false],
                    [false, true,  false],
                    [false, true,  false],
                    [false, true,  false],
                    [true,  true,  true ],
                    [true,  true,  true ],
                    [true,  false, true ],
                    [true,  false, true ],
                    [true,  false, false],
                    [true,  false, false],
                    [true,  false, false],
                    [true,  false, false],
                    [false, true,  true ],
                    [false, true,  true ],
                    [false, true,  true ],
                    [false, true,  true ],
                    [false, true,  false],
                    [false, true,  false],
                    [false, false, false],
                    [false, false, false],
                    [true,  false, true ],
                    [true,  false, true ],
                    [true,  false, true ],
                    [true,  false, true ],
                    [true,  true,  false],
                    [true,  true,  false],
                    [true,  true,  false],
                    [true,  true,  false],
                    [false, true,  true ],
                    [false, true,  true ],
                    [false, false, true ],
                    [false, false, true ],
                    [false, false, false],
                    [false, false, false],
                    [false, false, false],
                    [false, false, false],
                ]
            )
        ]
    )
)
