Level(
    id: "5b27a3dd-aa6a-492b-9727-147e5eb54d15",
    name: "Four Bit Not",
    description: "Invert the values of each of the inputs (NOT) and pass them to their corresponding output.",
    parents: [ "cafeb123-66dc-4b04-b560-5cf80868cae4" ], // ← not_gate

    size: (8, 10),
    permanent: [
        (0, 9), (1, 9), (2, 9), (3, 9),
        (4, 0), (5, 0), (6, 0), (7, 0)
    ],
    labels: {
        Dynamic(0): "8",
        Dynamic(1): "4",
        Dynamic(2): "2",
        Dynamic(3): "1",
        
        Dynamic(4): "8",
        Dynamic(5): "4",
        Dynamic(6): "2",
        Dynamic(7): "1",
    },
    tiles: {
        (0, 9): Emitter( rotation: Down, active: true,  id: 0 ),
        (1, 9): Emitter( rotation: Down, active: true,  id: 1 ),
        (2, 9): Emitter( rotation: Down, active: true,  id: 2 ),
        (3, 9): Emitter( rotation: Down, active: true,  id: 3 ),
        (4, 0): Detector( id: 4 ),
        (5, 0): Detector( id: 5 ),
        (6, 0): Detector( id: 6 ),
        (7, 0): Detector( id: 7 )
    },

    tests: Tests(
        lasers: [ 0, 1, 2, 3 ],
        detectors: [ 4, 5, 6, 7 ],

        cases: [
            Cycle( lasers: [ false, false, false, false ], detectors: [ [ true,  true,  true,  true ] ] ),
            Cycle( lasers: [ false, false, false, true ], detectors: [ [ true,  true,  true,  false ] ] ),
            Cycle( lasers: [ false, false, true,  false ], detectors: [ [ true,  true,  false, true ] ] ),
            Cycle( lasers: [ false, false, true,  true ], detectors: [ [ true,  true,  false, false ] ] ),
            Cycle( lasers: [ false, true,  false, false ], detectors: [ [ true,  false, true,  true ] ] ),
            Cycle( lasers: [ false, true,  false, true ], detectors: [ [ true,  false, true,  false ] ] ),
            Cycle( lasers: [ false, true,  true,  false ], detectors: [ [ true,  false, false, true ] ] ),
            Cycle( lasers: [ false, true,  true,  true ], detectors: [ [ true,  false, false, false ] ] ),
            Cycle( lasers: [ true,  false, false, false ], detectors: [ [ false, true,  true,  true ] ] ),
            Cycle( lasers: [ true,  false, false, true ], detectors: [ [ false, true,  true,  false ] ] ),
            Cycle( lasers: [ true,  false, true,  false ], detectors: [ [ false, true,  false, true ] ] ),
            Cycle( lasers: [ true,  false, true,  true ], detectors: [ [ false, true,  false, false ] ] ),
            Cycle( lasers: [ true,  true,  false, false ], detectors: [ [ false, false, true,  true ] ] ),
            Cycle( lasers: [ true,  true,  false, true ], detectors: [ [ false, false, true,  false ] ] ),
            Cycle( lasers: [ true,  true,  true,  false ], detectors: [ [ false, false, false, true ] ] ),
            Cycle( lasers: [ true,  true,  true,  true ], detectors: [ [ false, false, false, false ] ] ),
        ]
    )
)

// Generated with the following code:
// for i in 0b0000..=0b1111 {
//     println!("{:04b}: {:04b}", i, !i & 0b1111);
// }
