Level(
    id: "46c56d9a-fda5-4876-aaa7-de80a7fcc710",
    name: "Gated D Latch",
    description: "When enable (E) is active, the signal on D should be forewarded to the output. When E is disabled continue outputting the current value of D.",
    parents: [ "f4444a1c-d2a8-4a7a-b311-ec39322c1776" ], // ← rs_latch

    size: (6, 6),
    permanent: [ (0, 5), (1, 5), (5, 0) ],
    labels: {
        Dynamic(0): "Data",
        Dynamic(1): "Latch",
    },
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: true, id: 1 ),
        (5, 0): Detector( id: 2 )
    },

    tests: Tests(
        lasers: [ 0, 1 ], // DE
        detectors: [ 2 ],

        cases: [
            Cycle( lasers: [ false, false ], detectors: [ [ false ] ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ false ] ] ),
            Cycle( lasers: [ true,  true  ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ false, false ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ false, true  ], detectors: [ [ false ] ] ),
        ]
    )
)
