Level(
    id: "91d5f245-75e8-4d3e-8994-7dcbdcd70670",
    name: "Half Adder",
    description: "Enable the leftmost output when both inputs are active and enable the rightmost output when exactly one of the inputs are active.\n\nThis circuit is known as a half-adder and is a fundamental component of binary adding circuits.",

    size: Some((6, 6)),
    permanent: [ (0, 5), (1, 5), (4, 0), (5, 0) ],
    labels: {
        Dynamic(2): "AND",
        Dynamic(3): "XOR"
    },
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: true, id: 1 ),
        (4, 0): Detector( id: 2 ),
        (5, 0): Detector( id: 3 )
    },

    tests: Tests(
        lasers: [ 0, 1 ],
        detectors: [ 2, 3 ],

        cases: [
            Cycle(
                lasers: [ false, false ],
                detectors: [ [ false, false ] ],
            ),
            Cycle(
                lasers: [ false, true ],
                detectors: [ [ false, true ] ],
            ),
            Cycle(
                lasers: [ true, false ],
                detectors: [ [ false, true ] ],
            ),
            Cycle(
                lasers: [ true, true ],
                detectors: [ [ true, false ] ],
            )
        ]
    )
)
