Level(
    id: "70c52993-06c5-4812-8553-f321b33118b3",
    name: "Imply Gate",
    description: "The imply gate is capable of building a NAND gate, which can be used to build all other gates.",
    parents: [ "d46980e0-b2d0-4102-ab95-8bdc16d00ca9" ],

    size: Some((6, 6)),
    permanent: [ (0, 5), (1, 5), (5, 0) ],
    labels: {
        Dynamic(0): "A",
        Dynamic(1): "B"
    },
    disabled: [ ],
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: true, id: 1 ),
        (5, 0): Detector( id: 2 )
    },

    tests: Tests(
        lasers: [ 0, 1 ],
        detectors: [ 2 ],

        cases: [
            Cycle(
                lasers: [ false, false ],
                detectors: [ [ true ] ],
            ),
            Cycle(
                lasers: [ false, true ],
                detectors: [ [ true ] ],
            ),
            Cycle(
                lasers: [ true, false ],
                detectors: [ [ false ] ],
            ),
            Cycle(
                lasers: [ true, true ],
                detectors: [ [ true ] ],
            )
        ]
    )
)
