Level(
    id: "cafeb123-66dc-4b04-b560-5cf80868cae4",
    name: "Not Gate",
    description: "
        Enable the output only when the input is not active, and disable it only when the input is active. Effectively inverting the input.

        For this level you will need to use two new (rotatable) components:
        • Galvo: Rotates the mirror it is facing when powered on its three other sides
        • Emitter: Emits a constant beam, but can be toggled by pressing E while hovering

        This is the first level that has multiple test cases. Use the white arrow buttons below to scroll thought them.",
    parents: [ "d46980e0-b2d0-4102-ab95-8bdc16d00ca9" ],

    size: (6, 6),
    permanent: [ (0, 5), (5, 0) ],
    disabled: [ Detector, Delay, Wall ],
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (5, 0): Detector( id: 1 )
    },

    tests: Tests(
        lasers: [ 0 ],
        detectors: [ 1 ],

        cases: [
            Cycle( lasers: [ false ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ true  ], detectors: [ [ false ] ] )
        ]
    )
)
