Level(
    id: "cafeb123-66dc-4b04-b560-5cf80868cae4",
    name: "Not Gate",
    description: "
        Enable the output only when the input is not active, and disable it only when the input is active. Effectively inverting the input.
        
        For this level you will need to use two new (rotatable) components:
        • Galvo: Rotates the mirror it's facing when powered
        • Emitter: Emits a constant beam, can be toggled by pressing E while hovering
        
        This is the first level that has multiple test cases. Use the white arrow buttons below to scroll thought them.",
    children: [ "5b27a3dd-aa6a-492b-9727-147e5eb54d15", "d46980e0-b2d0-4102-ab95-8bdc16d00ca9" ], // ← four_bit_not, or_gate
    
    size: (6, 6),
    permanent: [ (0, 5), (5, 0) ],
    disabled: [ Splitter, Detector, Delay, Wall ],
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (5, 0): Detector( id: 1 )
    },

    tests: Tests(
        lasers: [ 0 ],
        detectors: [ 1 ],

        cases: [
            Cycle( lasers: [ false ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ true  ], detectors: [ [ false ] ] )
        ]
    )
)
