Level(
    id: "2bf07b89-a458-45f9-a65c-7fe416870323",
    name: "Paralel to Serial",
    description: "
        Instead of taking in one data bit at a time and shifting them into memory, create a shift register that takes in the innitial values of d1-d8 and sends each bit to the output (OUT) on each clock (CLK) pulse.
        
        The data values stay constant through the entire run",
    children: [ ],

    labels: {
        Dynamic(0): "D1",
        Dynamic(1): "D2",
        Dynamic(2): "D3",
        Dynamic(3): "D4",
        Dynamic(4): "D5",
        Dynamic(5): "D6",
        Dynamic(6): "D7",
        Dynamic(7): "D8",

        Dynamic(8): "CLK",

        Dynamic(9): "OUT",
    },
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: true, id: 1 ),
        (2, 5): Emitter( rotation: Down, active: true, id: 2 ),
        (3, 5): Emitter( rotation: Down, active: true, id: 3 ),
        (4, 5): Emitter( rotation: Down, active: true, id: 4 ),
        (5, 5): Emitter( rotation: Down, active: true, id: 5 ),
        (6, 5): Emitter( rotation: Down, active: true, id: 6 ),
        (7, 5): Emitter( rotation: Down, active: true, id: 7 ),

        (9, 5): Emitter( rotation: Down, active: true, id: 8 ),

        (0, 0): Detector( id: 9 ),
    },

    tests: Tests(
        lasers: [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ],
        detectors: [ 9 ],
        variable_start: false,

        hidden: [ 2, 4, 6, 8, 10, 12, 14 ],
        cases: [
            Cycle( lasers: [ true, true, true, false, false, true, false, true, false ], detectors: [ [ false ] ] ),
            Cycle( lasers: [ true, true, true, false, false, true, false, true, true  ], detectors: [ [ true  ] ] ),
            /* HIDDEN */  Cycle( lasers: [ true, true, true, false, false, true, false, true, false ], detectors: [ ] ),
            Cycle( lasers: [ true, true, true, false, false, true, false, true, true  ], detectors: [ [ true  ] ] ),
            /* HIDDEN */  Cycle( lasers: [ true, true, true, false, false, true, false, true, false ], detectors: [ ] ),
            Cycle( lasers: [ true, true, true, false, false, true, false, true, true  ], detectors: [ [ true  ] ] ),
            /* HIDDEN */  Cycle( lasers: [ true, true, true, false, false, true, false, true, false ], detectors: [ ] ),
            Cycle( lasers: [ true, true, true, false, false, true, false, true, true  ], detectors: [ [ false ] ] ),
            /* HIDDEN */  Cycle( lasers: [ true, true, true, false, false, true, false, true, false ], detectors: [ ] ),
            Cycle( lasers: [ true, true, true, false, false, true, false, true, true  ], detectors: [ [ false ] ] ),
            /* HIDDEN */  Cycle( lasers: [ true, true, true, false, false, true, false, true, false ], detectors: [ ] ),
            Cycle( lasers: [ true, true, true, false, false, true, false, true, true  ], detectors: [ [ true  ] ] ),
            /* HIDDEN */  Cycle( lasers: [ true, true, true, false, false, true, false, true, false ], detectors: [ ] ),
            Cycle( lasers: [ true, true, true, false, false, true, false, true, true  ], detectors: [ [ false ] ] ),
            /* HIDDEN */  Cycle( lasers: [ true, true, true, false, false, true, false, true, false ], detectors: [ ] ),
            Cycle( lasers: [ true, true, true, false, false, true, false, true, true  ], detectors: [ [ true  ] ] ),
        ]
    )
)
