Level(
    id: "bb524613-e8d0-4d29-b61a-ec30b9accd90",
    name: "Random Access Memory",
    description: "todo. (0 ⇒ read, 1 ⇒ write)",
    children: [ ],

    labels: {
        Dynamic(0): "A4",
        Dynamic(1): "A2",
        Dynamic(2): "A1",

        Dynamic(3): "MODE",
        Dynamic(4): "ENBL",

        Dynamic(5): "128",
        Dynamic(6): "64",
        Dynamic(7): "32",
        Dynamic(8): "16",
        Dynamic(9): "8",
        Dynamic(10): "4",
        Dynamic(11): "2",
        Dynamic(12): "1",

        Dynamic(5): "128",
        Dynamic(6): "64",
        Dynamic(7): "32",
        Dynamic(8): "16",
        Dynamic(9): "8",
        Dynamic(10): "4",
        Dynamic(11): "2",
        Dynamic(12): "1",

    },
    tiles: {
        (0, 5): Emitter( rotation: Down, active: false, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: false, id: 1 ),
        (2, 5): Emitter( rotation: Down, active: false, id: 2 ),

        (4, 5): Emitter( rotation: Down, active: false, id: 3 ),
        (5, 5): Emitter( rotation: Down, active: false, id: 4 ),

        (7, 5): Emitter( rotation: Down, active: false, id: 5 ),
        (8, 5): Emitter( rotation: Down, active: false, id: 6 ),
        (9, 5): Emitter( rotation: Down, active: false, id: 7 ),
        (10, 5): Emitter( rotation: Down, active: false, id: 8 ),
        (11, 5): Emitter( rotation: Down, active: false, id: 9 ),
        (12, 5): Emitter( rotation: Down, active: false, id: 10 ),
        (13, 5): Emitter( rotation: Down, active: false, id: 11 ),
        (14, 5): Emitter( rotation: Down, active: false, id: 12 ),

        (0, 0): Detector( id: 13 ),
        (1, 0): Detector( id: 14 ),
        (2, 0): Detector( id: 15 ),
        (3, 0): Detector( id: 16 ),
        (4, 0): Detector( id: 17 ),
        (5, 0): Detector( id: 18 ),
        (6, 0): Detector( id: 19 ),
        (7, 0): Detector( id: 20 )
    },

    tests: Tests(
        lasers: [ 5, 6, 7, 8, 9, 10, 11, 12, 0, 1, 2, 3, 4 ],
        detectors: [ 13, 14, 15, 16, 17, 18, 19, 20 ],
        display: DisplayConfig(
            emitter_breaks: [ 7 ],
            descriptions: {
                0: "Store 108 into cell 0",
                1: "Store 123 into cell 1",
                2: "Load 123 from cell 1",
                3: "Store 245 into cell 2",
                4: "Store 52 into cell 3",
                5: "Load 245 from cell 2",
                6: "Store 222 into cell 3",
                7: "Load 222 from cell 3",
                8: "Load 108 from cell 0",
                9: "Store 38 into cell 4",
                10: "Store 185 into cell 5",
                11: "Store 225 into cell 6",
                12: "Load 185 from cell 5",
                13: "Store 60 into cell 7",
                14: "Load 225 from cell 6",
                15: "Load 38 from cell 4",
                16: "Load 60 from cell 7"
            }
        ),

        hidden: [ 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33 ],
        cases: [
            Cycle( lasers: [ false, true,  true,  false, true,  true,  false, false, true,  true,  false, false, false ], detectors: [ [ false, false, false, false, false, false, false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, true,  true,  false, true,  true,  false, false, true,  false, false, false, false ], detectors: [ ] ),
            Cycle( lasers: [ false, true,  true,  true,  true,  false, true,  true,  true,  true,  false, false, true  ], detectors: [ [ false, false, false, false, false, false, false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, true,  true,  true,  true,  false, true,  true,  true,  false, false, false, true  ], detectors: [ ] ),
            Cycle( lasers: [ false, false, false, false, false, false, false, false, false, true,  false, false, true  ], detectors: [ [ false, true,  true,  true,  true,  false, true,  true  ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false, false, false, false, false, false, false, false, false, false, false, true  ], detectors: [ ] ),
            Cycle( lasers: [ true,  true,  true,  true,  false, true,  false, true,  true,  true,  false, true,  false ], detectors: [ [ false, false, false, false, false, false, false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ true,  true,  true,  true,  false, true,  false, true,  true,  false, false, true,  false ], detectors: [ ] ),
            Cycle( lasers: [ false, false, true,  true,  false, true,  false, false, true,  true,  false, true,  true  ], detectors: [ [ false, false, false, false, false, false, false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false, true,  true,  false, true,  false, false, true,  false, false, true,  true  ], detectors: [ ] ),
            Cycle( lasers: [ false, false, false, false, false, false, false, false, false, true,  false, true,  false ], detectors: [ [ true,  true,  true,  true,  false, true,  false, true  ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false, false, false, false, false, false, false, false, false, false, true,  false ], detectors: [ ] ),
            Cycle( lasers: [ true,  true,  false, true,  true,  true,  true,  false, true,  true,  false, true,  true  ], detectors: [ [ false, false, false, false, false, false, false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ true,  true,  false, true,  true,  true,  true,  false, true,  false, false, true,  true  ], detectors: [ ] ),
            Cycle( lasers: [ false, false, false, false, false, false, false, false, false, true,  false, true,  true  ], detectors: [ [ true,  true,  false, true,  true,  true,  true,  false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false, false, false, false, false, false, false, false, false, false, true,  true  ], detectors: [ ] ),
            Cycle( lasers: [ false, false, false, false, false, false, false, false, false, true,  false, false, false ], detectors: [ [ false, true,  true,  false, true,  true,  false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false, false, false, false, false, false, false, false, false, false, false, false ], detectors: [ ] ),
            Cycle( lasers: [ false, false, true,  false, false, true,  true,  false, true,  true,  true,  false, false ], detectors: [ [ false, false, false, false, false, false, false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false, true,  false, false, true,  true,  false, true,  false, true,  false, false ], detectors: [ ] ),
            Cycle( lasers: [ true,  false, true,  true,  true,  false, false, true,  true,  true,  true,  false, true  ], detectors: [ [ false, false, false, false, false, false, false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ true,  false, true,  true,  true,  false, false, true,  true,  false, true,  false, true  ], detectors: [ ] ),
            Cycle( lasers: [ true,  true,  true,  false, false, false, false, true,  true,  true,  true,  true,  false ], detectors: [ [ false, false, false, false, false, false, false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ true,  true,  true,  false, false, false, false, true,  true,  false, true,  true,  false ], detectors: [ ] ),
            Cycle( lasers: [ false, false, false, false, false, false, false, false, false, true,  true,  false, true  ], detectors: [ [ true,  false, true,  true,  true,  false, false, true  ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false, false, false, false, false, false, false, false, false, true,  false, true  ], detectors: [ ] ),
            Cycle( lasers: [ false, false, true,  true,  true,  true,  false, false, true,  true,  true,  true,  true  ], detectors: [ [ false, false, false, false, false, false, false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false, true,  true,  true,  true,  false, false, true,  false, true,  true,  true  ], detectors: [ ] ),
            Cycle( lasers: [ false, false, false, false, false, false, false, false, false, true,  true,  true,  false ], detectors: [ [ true,  true,  true,  false, false, false, false, true  ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false, false, false, false, false, false, false, false, false, true,  true,  false ], detectors: [ ] ),
            Cycle( lasers: [ false, false, false, false, false, false, false, false, false, true,  true,  false, false ], detectors: [ [ false, false, true,  false, false, true,  true,  false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false, false, false, false, false, false, false, false, false, true,  false, false ], detectors: [ ] ),
            Cycle( lasers: [ false, false, false, false, false, false, false, false, false, true,  true,  true,  true  ], detectors: [ [ false, false, true,  true,  true,  true,  false, false ] ] ),
            /* HIDDEN */ Cycle( lasers: [ false, false, false, false, false, false, false, false, false, false, true,  true,  true  ], detectors: [ ] ),
        ]
    )
)
