Level(
    id: "f36846af-910b-4aec-8ed0-7e3deca17251",
    name: "Read Only Memory",
    description: "
        Often times in simple computers, we need a way to refer to constant values that could define a program or some other data. When this data is static and never needs to change, a read only memory or ROM can be used.
        
        For this level, you will need to output a constant 8-bit number for each of the four possible inputs. The binary representations of each number have also been provided.
        
        • 0 (0b00) ⇒ 20 (0b00010100)
        • 1 (0b01) ⇒ 238 (0b11101110)
        • 2 (0b10) ⇒ 143 (0b10001111)
        • 3 (0b11) ⇒ 79 (0b01001111)",
    children: [ "bb524613-e8d0-4d29-b61a-ec30b9accd90" ], // ← random_access_memory

    size: (24, 16),
    labels: {
        Dynamic(0): "2",
        Dynamic(1): "1",
    
        Dynamic(2): "128",
        Dynamic(3): "64",
        Dynamic(4): "32",
        Dynamic(5): "16",
        Dynamic(6): "8",
        Dynamic(7): "4",
        Dynamic(8): "2",
        Dynamic(9): "1",
    },
    permanent: [
        (0, 15), (1, 15),
        (16, 0), (17, 0), (18, 0), (19, 0), (20, 0), (21, 0), (22, 0), (23, 0)
    ],
    tiles: {
        (0, 15): Emitter( rotation: Down, active: false, id: 0 ),
        (1, 15): Emitter( rotation: Down, active: false, id: 1 ),

        (16, 0): Detector( id: 2 ),
        (17, 0): Detector( id: 3 ),
        (18, 0): Detector( id: 4 ),
        (19, 0): Detector( id: 5 ),
        (20, 0): Detector( id: 6 ),
        (21, 0): Detector( id: 7 ),
        (22, 0): Detector( id: 8 ),
        (23, 0): Detector( id: 9 )
    },

    tests: Tests(
        lasers: [ 0, 1 ],
        detectors: [ 2, 3, 4, 5, 6, 7, 8, 9 ],

        cases: [
            Cycle( lasers: [ false, false ], detectors: [ [ false, false, false, true,  false, true,  false, false ] ] ),
            Cycle( lasers: [ false, true  ], detectors: [ [ true,  true,  true,  false, true,  true,  true,  false ] ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ true,  false, false, false, true,  true,  true,  true  ] ] ),
            Cycle( lasers: [ true,  true  ], detectors: [ [ false, true,  false, false, true,  true,  true,  true  ] ] ),
        ]
    )
)

// 00010100: 20
// 11101110: 238
// 10001111: 143
// 01001111: 79