Level(
    id: "f4444a1c-d2a8-4a7a-b311-ec39322c1776",
    name: "RS Latch",
    description: "Create a latch that turns on when input S is active and resets when input R is.",
    parents: [ "86456173-e27c-4918-ae11-ef5a36147037" ], // ← synchronization

    size: (6, 6),
    permanent: [ (0, 5), (1, 5), (5, 0) ],
    labels: {
        Dynamic(0): "R",
        Dynamic(1): "S",
    },
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: true, id: 1 ),
        (5, 0): Detector( id: 2 )
    },

    tests: Tests(
        lasers: [ 0, 1 ], // RS
        detectors: [ 2 ],

        cases: [
            Cycle( lasers: [ false, false ], detectors: [ [ false ] ] ),
            Cycle( lasers: [ false, true  ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ false, false ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ false, true  ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ false ] ] ),
        ]
    )
)
