Level(
    id: "5f4538af-b393-4b62-8a53-70170b96915d",
    name: "Seven Segment Driver",
    description: "Create a seven segment display driver that takes an input number in the range [0, 9] and activates the correct segments to draw that number.",
    parents: [ "ca887bfe-5c8c-425d-b414-265e6d8c909e" ],

    size: (26, 26),
    permanent: [ (0, 16), (0, 17), (0, 18), (0, 19), (0, 20), (0, 21), (0, 22), (0, 23), (0, 24), (0, 25) ],
    labels: {
        Static((0, 16)): "0",
        Static((0, 17)): "1",
        Static((0, 18)): "2",
        Static((0, 19)): "3",
        Static((0, 20)): "4",
        Static((0, 21)): "5",
        Static((0, 22)): "6",
        Static((0, 23)): "7",
        Static((0, 24)): "8",
        Static((0, 25)): "9",
    },
    tiles: {
        (0, 25): Emitter( rotation: Right, active: false, id: 0 ),
        (0, 24): Emitter( rotation: Right, active: false, id: 1 ),
        (0, 23): Emitter( rotation: Right, active: false, id: 2 ),
        (0, 22): Emitter( rotation: Right, active: false, id: 3 ),
        (0, 20): Emitter( rotation: Right, active: false, id: 4 ),
        (0, 21): Emitter( rotation: Right, active: false, id: 5 ),
        (0, 19): Emitter( rotation: Right, active: false, id: 6 ),
        (0, 18): Emitter( rotation: Right, active: false, id: 7 ),
        (0, 17): Emitter( rotation: Right, active: false, id: 8 ),
        (0, 16): Emitter( rotation: Right, active: false, id: 9 ),
    },

    tests: Tests(
        lasers: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ],
        detectors: [ ],

        cases: [
            Cycle(
                lasers: [ true, false, false, false, false, false, false, false, false, false ],
                detectors: [ [ ] ],
            ),
            Cycle(
                lasers: [ false, true, false, false, false, false, false, false, false, false ],
                detectors: [ [ ] ],
            ),
            Cycle(
                lasers: [ false, false, true, false, false, false, false, false, false, false ],
                detectors: [ [ ] ],
            ),
            Cycle(
                lasers: [ false, false, false, true, false, false, false, false, false, false ],
                detectors: [ [ ] ],
            ),
            Cycle(
                lasers: [ false, false, false, false, true, false, false, false, false, false ],
                detectors: [ [ ] ],
            ),
            Cycle(
                lasers: [ false, false, false, false, false, true, false, false, false, false ],
                detectors: [ [ ] ],
            ),
            Cycle(
                lasers: [ false, false, false, false, false, false, true, false, false, false ],
                detectors: [ [ ] ],
            ),
            Cycle(
                lasers: [ false, false, false, false, false, false, false, true, false, false ],
                detectors: [ [ ] ],
            ),
            Cycle(
                lasers: [ false, false, false, false, false, false, false, false, true, false ],
                detectors: [ [ ] ],
            ),
            Cycle(
                lasers: [ false, false, false, false, false, false, false, false, false, true ],
                detectors: [ [ ] ],
            )
        ]
    )
)
