Level(
    id: "fe48e117-1114-417a-b72b-d80c239797c9",
    name: "Shift Register",
    description: "",
    parents: [ "46c56d9a-fda5-4876-aaa7-de80a7fcc710" ], // ← gated_d_latch

    size: None,
    permanent: [ ],
    labels: {
        Dynamic(0): "Val",
        Dynamic(1): "Enable",
    },
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: true, id: 1 ),

        (0, 0): Detector( id: 2 ),
        (1, 0): Detector( id: 3 ),
        (2, 0): Detector( id: 4 ),
        (3, 0): Detector( id: 5 ),
        (4, 0): Detector( id: 6 ),
        (5, 0): Detector( id: 7 ),
        (6, 0): Detector( id: 8 ),
        (7, 0): Detector( id: 9 )
    },

    tests: Tests(
        lasers: [ 0, 1 ],
        detectors: [ 2, 3, 4, 5, 6, 7, 8, 9 ],

        cases: [ ]
    )
)
