Level(
    id: "3d01432a-228c-4cfd-9be3-407a796b49c8",
    name: "Slightly Less Basic Routing",
    description: "
        Connect the laser to all detectors. You will need to make use of both mirrors and the newly unlocked splitters, which act like mirrors that also pass the beam straight through.
        
        This level contains many walls that you will need to route the beam around.",
    children: [ "cafeb123-66dc-4b04-b560-5cf80868cae4" ], // ← not_gate

    size: (6, 6),
    permanent: [
        (0, 5), (5, 0), (5, 4),
        (3, 0), (1, 1), (5, 1), (3, 2), (0, 3), (5, 3), (2, 4), (4, 5)
    ],
    labels: { },
    disabled: [ Detector, Delay, Emitter, Galvo, Wall ],
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (5, 0): Detector( id: 1 ),
        (5, 4): Detector( id: 2 ),

        (3, 0): Wall,
        (1, 1): Wall,
        (5, 1): Wall,
        (3, 2): Wall,
        (0, 3): Wall,
        (5, 3): Wall,
        (2, 4): Wall,
        (4, 5): Wall
    },

    tests: Tests(
        lasers: [ 0 ],
        detectors: [ 1, 2 ],

        cases: [
            Cycle( lasers: [ true ], detectors: [ [ true, true ] ] )
        ]
    )
)
