Level(
    id: "6ac2dff9-0ac7-4df7-9c1a-c7cb1c3dfbe6",
    name: "T Flip Flop",
    description: "When the input is enabled (rising edge) the output value should be toggled. The output should be disabled by default.",
    children: [ "fc3b280e-6a80-41d2-84d1-c8fa55a3946f" ], // ← counter

    size: (6, 6),
    permanent: [ (0, 5), (5, 0) ],
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (5, 0): Detector( id: 1 )
    },

    tests: Tests(
        lasers: [ 0 ],
        detectors: [ 1 ],
        variable_start: false,

        cases: [
            Cycle( lasers: [ false ], detectors: [ [ false ] ], ),
            Cycle( lasers: [ true  ], detectors: [ [ true  ] ], ),
            Cycle( lasers: [ false ], detectors: [ [ true  ] ], ),
            Cycle( lasers: [ true  ], detectors: [ [ false ] ], ),
            Cycle( lasers: [ false ], detectors: [ [ false ] ], ),
        ]
    )
)
