Level(
    id: "5d317b17-a9b5-4b5c-b07f-e006064581f1",
    name: "Two-Tick Clock",
    description: "Create an oscillator that is on for two ticks, off for two ticks, then repeats. There is no way to speed up the oscillator you made in that other level, you will need to be clever.",
    parents: [ "aa28086a-564e-46d3-9233-894c157d92fe" ], // ← basic_oscillator

    size: (6, 6),
    permanent: [ (5, 0) ],
    labels: { },
    tiles: {
        (5, 0): Detector( id: 0 )
    },

    tests: Tests(
        lasers: [ ],
        detectors: [ 0 ],

        cases: [
            Cycle(
                lasers: [ ],
                detectors: [ [ false ], [ false ], [ true ], [ true ] ]
            )
        ]
    )
)
