Level(
    id: "3eb940dd-1f76-46c5-8aea-800ae0951364",
    name: "XOR Gate",
    description: "Turn the output on when exactly one of the inputs are on.",
    children: [ "52108765-b8d2-47cf-a0c7-36b3b73cc644" ], // ← double_it

    size: (6, 6),
    permanent: [ (0, 5), (1, 5), (5, 0) ],
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: true, id: 1 ),
        (5, 0): Detector( id: 2 )
    },

    tests: Tests(
        lasers: [ 0, 1 ],
        detectors: [ 2 ],

        cases: [
            Cycle( lasers: [ false, false ], detectors: [ [ false ] ] ),
            Cycle( lasers: [ false, true  ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ true,  false ], detectors: [ [ true  ] ] ),
            Cycle( lasers: [ true,  true  ], detectors: [ [ false ] ] ),
        ]
    )
)
