Level(
    id: "3eb940dd-1f76-46c5-8aea-800ae0951364",
    name: "XOR Gate",
    description: "Turn the output on when exactly one of the inputs are on.",
    parents: [ "1c9ddabc-8e4b-41a1-bc0c-e0623226e5c3", "cafeb123-66dc-4b04-b560-5cf80868cae4", "d46980e0-b2d0-4102-ab95-8bdc16d00ca9" ],

    size: (6, 6),
    permanent: [ (0, 5), (1, 5), (5, 0) ],
    labels: { },
    tiles: {
        (0, 5): Emitter( rotation: Down, active: true, id: 0 ),
        (1, 5): Emitter( rotation: Down, active: true, id: 1 ),
        (5, 0): Detector( id: 2 )
    },

    tests: Tests(
        lasers: [ 0, 1 ],
        detectors: [ 2 ],

        cases: [
            Cycle(
                lasers: [ false, false ],
                detectors: [ [ false ] ],
            ),
            Cycle(
                lasers: [ false, true ],
                detectors: [ [ true ] ],
            ),
            Cycle(
                lasers: [ true, false ],
                detectors: [ [ true ] ],
            ),
            Cycle(
                lasers: [ true, true ],
                detectors: [ [ false ] ],
            )
        ]
    )
)
