FontDescriptor(
    characters: {
        'A': (uv: (0, 3),  size: (8, 9)),
        'B': (uv: (9, 3),  size: (5, 9)),
        'C': (uv: (16, 3), size: (6, 9)),
        'D': (uv: (24, 3), size: (6, 9)),
        'E': (uv: (32, 3), size: (4, 9)),
        'F': (uv: (38, 3), size: (4, 9)),
        'G': (uv: (44, 3), size: (6, 9)),
        'H': (uv: (52, 3), size: (7, 9)),
        'I': (uv: (60, 3), size: (3, 9)),
        'J': (uv: (63, 0), size: (3, 12)),
        'K': (uv: (68, 3), size: (6, 9)),
        'L': (uv: (75, 3), size: (4, 9)),
        'M': (uv: (81, 3), size: (9, 9)),
        'N': (uv: (92, 3), size: (7, 9)),
        'O': (uv: (101, 3), size: (7, 9)),
        'P': (uv: (110, 3), size: (5, 9)),
        'Q': (uv: (116, 3), size: (7, 11), baseline_shift: -2),
        'R': (uv: (125, 3), size: (6, 9)),
        'S': (uv: (133, 3), size: (5, 9)),
        'T': (uv: (138, 3), size: (7, 9)),
        'U': (uv: (145, 3), size: (6, 9)),
        'V': (uv: (152, 3), size: (7, 9)),
        'W': (uv: (160, 3), size: (11, 9)),
        'X': (uv: (171, 3), size: (7, 9)),
        'Y': (uv: (178, 3), size: (7, 9)),
        'Z': (uv: (185, 3), size: (7, 9)),

        'a': (uv: (0, 15),  size: (4, 6)),
        'b': (uv: (6, 12),  size: (5, 9)),
        'c': (uv: (13, 15),  size: (4, 6)),
        'd': (uv: (18, 12),  size: (5, 9)),
        'e': (uv: (25, 15),  size: (4, 6)),
        'f': (uv: (31, 12),  size: (4, 9)),
        'g': (uv: (35, 15),  size: (5, 9), baseline_shift: -3),
        'h': (uv: (42, 12),  size: (5, 9)),
        'i': (uv: (49, 12),  size: (1, 9)),
        'j': (uv: (50, 12),  size: (3, 12), baseline_shift: -3),
        'k': (uv: (55, 12),  size: (4, 9)),
        'l': (uv: (61, 12),  size: (1, 9)),
        'm': (uv: (64, 15),  size: (9, 6)),
        'n': (uv: (74, 15),  size: (5, 6)),
        'o': (uv: (81, 15),  size: (5, 6)),
        'p': (uv: (88, 15),  size: (5, 9), baseline_shift: -3),
        'q': (uv: (95, 15),  size: (5, 9), baseline_shift: -3),
        'r': (uv: (102, 15),  size: (3, 6)),
        's': (uv: (106, 15),  size: (3, 6)),
        't': (uv: (110, 13),  size: (4, 8)),
        'u': (uv: (115, 15),  size: (5, 6)),
        'v': (uv: (120, 15),  size: (6, 6)),
        'w': (uv: (127, 15),  size: (9, 6)),
        'x': (uv: (136, 15),  size: (5, 6)),
        'y': (uv: (141, 15),  size: (6, 9), baseline_shift: -3),
        'z': (uv: (148, 15),  size: (5, 6)),

        '.': (uv: (0, 31),  size: (1, 2)),
        ',': (uv: (1, 32),  size: (2, 3), baseline_shift: -2),
        '?': (uv: (5, 24),  size: (4, 9)),
        '!': (uv: (10, 24),  size: (1, 9)),
        ';': (uv: (13, 27),  size: (2, 8)),
        '-': (uv: (16, 29),  size: (3, 4)),
        '(': (uv: (20, 24),  size: (3, 11), baseline_shift: -2),
        ')': (uv: (23, 24),  size: (3, 11), baseline_shift: -2),
        '[': (uv: (28, 24),  size: (2, 11), baseline_shift: -2),
        ']': (uv: (31, 24),  size: (2, 11), baseline_shift: -2),
        '{': (uv: (34, 24),  size: (3, 11), baseline_shift: -2),
        '}': (uv: (38, 24),  size: (3, 11), baseline_shift: -2),
        '\u{0027}': (uv: (49, 24),  size: (1, 9)),
    },
    unknown: (uv: (41, 22), size: (8, 13), baseline_shift: -2),
    space_width: 4,
    tracking: 1.0
)